* {
    box-sizing: border-box;
    font-family: "Mositerm Demi", "Segoe UI", "Roboto", "Helvetica Neue", monospace, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(25, 25, 39);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    border: 5px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 620px;
    height: 720px;
    flex-shrink: 1;
}

.calculator {
    padding: 20px;
    border: 5px solid black;
    background-color: rgba(58, 58, 83, 0.8);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 440px;
}

#display {
    text-align: right;
    background-color: rgb(25, 25, 39);
    padding: 20px;
    color: goldenrod;
    font-size: 30px;
    font-weight: 800;
    border-radius: 10px;
    width: 360px;
    height: 80px;
    margin-top: 10px;
}

.buttons-panel {
    
    padding: 5px;
    display: flex;
    width: 380px;
}

.left-panel {
    display: flex;
    flex-direction: column;
}

.left-panel .up {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.left-panel .down {
    display: flex;
    justify-content: space-evenly;
}

.rigth-panel {
    display: flex;
    flex-direction: column;
    
}

button {
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(150, 150, 150, 0.8);
    color: white;
    font-size: 20px;
    width: 80px;
    height: 80px;
    margin: 5px;
}

button#zero {
    width: 170px;
}

h1 {
    margin-bottom: 20px;
}